<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}

    <title>Cato - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% block stylesheet %}{% endblock stylesheet %}

    <script src="{% static 'script.js' %}"></script>
    {% block script %}{% endblock script %}
</head>

<body background="{% block body-bg-image %}{% static 'images/background1.jpg' %}{% endblock %}">

    <div class="nav">
    {% block header %}
        <ul>
            <li style="float: left"><a class="{% block home-active %}inactive{% endblock %}" href="/">Home</a></li>
            {% if request.session.user_id %}
                <li><a class="{% block profile-active %}inactive{% endblock %}" href="/profile/">Profile</a></li>
                <li><a class="{% block logout-active %}inactive{% endblock %}" href="/logout/">Logout</a></li>
            {% else %}
                <li><a class="{% block login-active %}inactive{% endblock %}" href="/login/">Login</a></li>
                <li><a class="{% block signup-active %}inactive{% endblock %}" href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>
    {% endblock header %}
    </div>

    <div class="body">
    {% block body %}{% endblock body %}
    </div>

    <div>
    {% block footer %}{% endblock footer %}
    </div>

</body>

</html>