<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
</head>
<body>
<div>
    Email: {{ user.email }} <br />
    <hr />
</div>
<div>
    Skills: {% for skill in skills %}
                [{{ skill }}]
            {% endfor %}
    <hr />
</div>
<div>
    Education: {{ user.education }} <br />
    Graduation Date: {{ user.graduation_date }} <br />
    Major: {{ user.major }} <br />
    <hr />
</div>
<div>
    Zipcode: {{ user.zipcode }} <br />
</div>
</body>
</html>