{% extends "base.html" %}

{% block title %}Find the Right Internship For You{% endblock title %}

{% block home-active %}active{% endblock %}

{% block body %}
    <form action="/" method="post">
        {% csrf_token %}
        Skill: {{ search_form.skills }}<br />
        Education: {{ search_form.education }}
        Major: {{ search_form.major }}<br />
        <input type="submit" value="Search">
    </form>

    <hr />
    <h2>Matched Jobs: </h2>
    {% if search_result %}
        {% comment %}
        {% for job in search_result %}
            <a href="{{ job.url }}"><strong>{{ job.title }}</strong></a> - {{ job.company }}
            <hr />
        {% endfor %}
        {% endcomment %}
        {% for job, skills in search_result.items %}
            <a href="{{ job.url }}"><strong>{{ job.title }}</strong></a> - {{ job.company }}
            {% for skill in skills %}
                &nbsp[{{ skill.skill }}]&nbsp
            {% endfor %}
            <hr />
        {% endfor %}
    {% else %}
        <p>Sorry, nothing found</p>
    {% endif %}
{% endblock body %}