{% extends "base.html" %}

{% block title %}Find the Right Internship For You{% endblock title %}

{% block home-active %}active{% endblock %}

{% block body %}
    <form action="/" method="post">
        {% csrf_token %}
        Skill: {{ search_form.skills }}<br />
        Education: {{ search_form.education }}
        Major: {{ search_form.major }}<br />
        <input type="submit" value="Search">
    </form>

    {% if search_result and search_result.count > 0 %}
        <hr />
        <h2>Matched Jobs: </h2>
        {% for job in search_result%}
            <!-- show job info here -->
        {% endfor %}
    {% endif %}
{% endblock body %}